.aboutContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: -2;
    opacity: 0;
    transform: scale(90%);
    transition: 1.5s all ease;
    /* border: 2px solid brown; */
}

.aboutContainer--zoom
{
    opacity: 1;
    transform: scale(100%);
}

.aboutText
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: oswald;
    /* border: 2px solid salmon; */
    max-width: 80vw;

}

.leftAbout
{
    width: 100vw;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid brown; */
}

.leftAboutHeading
{
    font-size: 5.3vh;
    margin-bottom: 5%;
    /* border: 2px solid sandybrown; */
}

.leftAboutText
{
    font-weight: 250;
    max-width: 80vw;
}

.rightAbout img
{
    transition: 0.5s all ease;
}

.rightAbout img:hover
{
    transform: scale(1.1,1.1);
}

@media (max-width: 500px){
    .aboutContainer
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        z-index: -2;
        opacity: 0;
        transform: scale(90%);
        transition: 1.5s all ease;
        /* border: 2px solid brown; */
    }

    .aboutContainer--zoom
    {
        opacity: 1;
        transform: scale(100%);
    }

    .aboutText
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        font-family: oswald;
        /* border: 2px solid salmon; */
        max-width: 80vw;

    }

    .leftAbout
    {
        position: absolute;
        left: -10%;
        top: 20%;
        width: 100vw;
        margin-right: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid brown; */
    }

    .leftAboutHeading
    {
        font-size: 5.3vh;
        margin-bottom: 5%;
        /* border: 2px solid sandybrown; */
    }

    .leftAboutText
    {
        font-weight: 250;
        max-width: 80vw;
    }

    .rightAbout img
    {
        transition: 0.5s all ease;
    }

    .rightAbout img:hover
    {
        transform: scale(1.1,1.1);
    }
}