.footerContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),black,black);
}

.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5%;
    width: 75%;
}
.footerLeft
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
    /* border: 2px solid pink; */
    
}

.footerLeftSubHeading
{
    color: white;
    opacity: 0.7;
    font-family: 'Space Grotesk';
}

.footerLeftHeading
{
    font-family: 'Champion';
    font-style: normal;
    font-size: 20vh;
    color: #F3B344;
    
    ;
}

.footerLeftText
{
    color: white;
    font-family: 'Space Grotesk';
}

.footerRight
{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 10%;
    /* border: 2px solid pink; */
    height: 40vh;
}

.footerRightText
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Space Grotesk';
}

.footerRightHeading
{
    color: white;
    opacity: 0.7;
    margin-top: 10%;
    font-family: 'Space Grotesk';
}

a
{
    color: white;
    text-decoration: none;
    transition: 0.5s all ease;
}

a:hover
{
    color: #F3B344;
}

.footerExtremeRight
{
    color: white;
    position: absolute;
    bottom: -315%;
    left: 90%;
    transform: rotate(-90deg);
    width: fit-content;
    font-family: 'Space Grotesk';
    /* border: 2px solid salmon; */
}

.bottomButton
{
     color: #F3B344;
     position: fixed;
     font-family: oswald;
     font-size: 1.5vw;
}

.goToBottom
{
    position: fixed;
    left: -1%;
    bottom: 10%;
    transform: rotate(-90deg);
    transition: 0.5s all ease;
    color: white;
    font-size: smaller;
    opacity: 0.7;
}

.goToBottom:hover
{
    color: #F3B344;
    cursor: pointer;
}