.mainNav
{
    /* background-color: blueviolet; */
    width: 100%;
    height: 7rem;
    /* display: grid; */
    /* grid-template-columns: 2.5rem 1fr 1fr 1fr 2.5rem; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.759),rgba(0, 0, 0, 0));
    /* background-color: blue; */
    
    z-index: 200;
}
.lines
{
    /* background-color: aquamarine; */
    /* grid-column: 2/3; */
    /* margin-top: 10px; */
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */   
    margin-left: 1em; 
}

.lines:hover
{
    /* background-color: orange; */
}

.tagLogo
{
    /* background-color: antiquewhite; */
    text-align: center;
    color: aliceblue;
    /* margin-top: 10px; */
    /* border: 2px solid white; */
    /* z-index: 300; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    margin-left: 5%;

}


.vgl
{
    /* background-color: aqua; */
    text-align: right;
    color: aliceblue;
    /* border: solid 2px wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 5px; */
    /* border: 2px solid white; */
    /* z-index: 300; */
    
}



.vglButton
{
    /* background: #EFCA43; */
    border: 2px solid orange;
    /* border-radius: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 24px; */
    /* gap: 8px; */ 
    background: rgba(0, 0, 0, 0);
    color: orange;
    width: 130px;
    height: 48px;
    /* transform: rotate(90deg); */
    /* left: 50%;
    top: 41px; */
    /* z-index: 300; */
    transition: 0.5s all ease;
    margin-right: 1.5em;
    
}

.vglButton:hover
{
    background-color: rgb(239, 167, 0);
    color: black;
    cursor: pointer;
}

.menuBar
{
    background-color: white;
    width: 30px;
    height: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}