
.reconButtons
{
    display: flex;
    justify-content: center;
    /* margin-top: -8%; */
}
.moreRecon
{
    /* justify-content: right; */
    border: 2px solid #ffa500;
    width: 90px;
    color: white;
    /* align-items: center; */
    height: 30px;
    margin-left: 6%;
    font-family: oswald;
    display: flex;
    justify-content: center;
}
.moreRecon:hover
{
    cursor: pointer;
}

.regProcess
{
    border: 2px solid #ffa500;
    width: 90px;
    color: white;
    /* align-items: center; */
    height: 30px;
    margin-left: 6%;
    font-family: oswald;
    display: flex;
    justify-content: center;
    margin-right: 5%;
}
.regProcess:hover
{
    cursor: pointer;
}
.vglsButton1{
     /* background: #EFCA43; */
    border: 2px solid orange;
    /* border-radius: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 24px; */
    /* gap: 8px; */ 
    background: rgba(0, 0, 0, 0);
    color: orange;
    width: 130px;
    height: 48px;
    /* transform: rotate(90deg); */
    /* left: 50%;
    top: 41px; */
    /* z-index: 300; */
    transition: 0.5s all ease;
    margin-right: 1.5em;
    

}
.vglsButton1:hover
{
    cursor: pointer;
    color: aliceblue;
    border-color: white;
}
.vglsButton2{
    /* background: #EFCA43; */
   border: 2px solid orange;
   /* border-radius: 15px; */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   /* padding: 0px 24px; */
   /* gap: 8px; */ 
   background: rgba(0, 0, 0, 0);
   color: orange;
   width: 130px;
   height: 48px;
   /* transform: rotate(90deg); */
   /* left: 50%;
   top: 41px; */
   /* z-index: 300; */
   transition: 0.5s all ease;
   margin-right: 1.5em;
   

}
.vglsButton2:hover
{
    cursor: pointer;
    color: white;
    border-color: white;
}