.carouselContainer
{   
    overflow: hidden;
    z-index: -2;
    /* border: 2px solid blue; */
    /* position: absolute; */
    /* height: 80vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0;
    transform: scale(90%);
    transition: 1.5s all ease;
}

.carouselContainer--zoom
{
    transform: scale(100%);
    opacity: 1;
}

.carouselBody
{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Oswald';
    font-style: normal;
    justify-content: center;
    /* padding: 70px; */
    /* border: 4px solid pink; */
    width: 88%;
    
}

.heading
{   
    /* position: relative; */
    /* margin-top: 40%; */
    /* border: 2px solid white; */
    width: 191px;
    align-items: center;
    font-size: 5.3vh;
    /* left: 5%; */
    display: flex;
    justify-content: center;
    /* border: 2px solid purple; */
    /* margin: 0% 5% 5% 0%; */
}

.viewHeading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vh;
    right: 20px;
    /* margin: 0% 5% 5% 0%; */
    transition: 0.5s all ease;
    /* border: 2px solid pink; */
}

.viewHeading:hover
{
    color: #F3B344;
    cursor: pointer;
}

.container
{   
    display: flex;
    /* flex-direction: column; */
    /* margin: 0 10%; */
    /* border: 2px solid pink; */
    /* border: 2px solid orange; */
    justify-content: center;

}
.headContainer
{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid pink; */
}


.itemReg
{
    /* border: 2px solid red; */
    padding-right: 10px;
    padding-left: 10px;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}

.itemReg img
{
    width: 388px;
    height: 215px;
    /* border-radius: 1rem; */
    pointer-events: none;
    /* min-height: 215px;
    min-width: 388px; */
    /* border: 2px solid pink; */
    /* border: 2px solid salmon; */
    transform: scale(1.5,1.5);
}

.item:hover
{
    transform: scale(1.1,1.1);
    scale: 2;
    transition: 0.5s;
    
    /* opacity: 0; */
}




.inner-carousel
{
    display: flex;
    flex-direction: row;
    /* border: 2px solid salmon; */
    /* justify-content: center; */
    
    
}

.carousel
{
    cursor: grab;
    overflow: hidden;
    /* position: absolute; */
    /* border: 2px solid blue; */
    /* margin: 0 10%; */

}
