.blog-container{
    margin: 12% 5%;
}

.top-container{
    display: flex;
}

.left-container{
    width: 50%;
    /* border: 1px red solid; */
}

.right-container{
    width: 50%;
    /* border: 1px red solid; */
}

.blog-heading{
    color: orange;
    font-family: "oswald";
    font-size: 400%;
    opacity: 0.8;
    max-width: 50%;
}

.blog-para{
    color: aliceblue;
    font-size: 175%;
    margin-top: 5%;
    text-align: justify;
}

.blog-img{
    border-radius: 10px;
    background-color: rgb(16, 105, 105);
}

.img1{
    height: 400px;
    width: 90%;
    margin: 3% auto;
}

.img2{
    height: 350px;
    width: 100%;
    margin-top: 4%;
}