.teamContainer
{
    margin-top: 10%;
    color: #FFFF;
    display: flex;
    flex-direction: row;
    font-family: oswald;
}

.ourTeamImg
{
    width: 35rem;
    height: 35rem;
    /* border:2px solid rebeccapurple; */
    /* margin-right: 1%; */
    margin-left: 15rem;
    margin-right: 100px;
}

.rightPanCont
{
    display: flex;
    flex-direction: column;
    /* margin-left: 25%; */
    width: 100%;
    margin-right: 25%;
}

.rightPanName
{
    font-size: 10vh;
    text-align: center;
    margin-bottom: 2%;
}
.rightPanRole
{
    text-align: center;
    font-size: 5vh;
    margin-bottom: 1%;
}
.rightPanBody
{
    text-align: center;
    width: 50%;
    align-self: center;
}

.leftPanCont{
    /*  margin-top: 35rem;*/
      margin-left: 10px;
      
  }

  .leftPanName{
      font-size:10vh;
     
  }
  .leftPanRole{
      font-size:5vh;
      max-width: vw;
      margin-right: 1rem;
  }

  .leftPanBody{
      text-align: justify;
      width:100%;
      max-width: 30vw;
      font-size:-2rem;
      margin-left: 0rem;
  }
  .leftPan{
      margin-left:0px;
      
  }

@media (max-width: 500px)
{
    .teamContainer{
        flex-direction: column;
        flex-flow: inherit;
        margin-top: 10rem;
    }
    .ourTeamImg{
        width: 10rem;
        height:10rem;
        
       /* margin-top: 35rem;*/
        margin-left:2rem;
        margin-right:10px;
    }
    .rightPanCont{
      /*  margin-top: 35rem;*/
        margin-left: 10px;
        
    }

    .rightPanName{
        font-size:3vh;
        margin-right: 0px;
        text-align: right;
    }
    .rightPanRole{
        font-size:4vh;
        max-width: 30vw;
        margin-left: 10vw;
        text-align: right;
    }

    .rightPanBody{
        text-align: justify;
        width:100%;
        max-width: 50vw;
        font-size:-2rem;
        margin-left: 2rem;
    }
    .rightPan{
        margin-right:2rem;
        margin-left: 10px;
    }

    
    .leftPanCont{
        /*  margin-top: 35rem;*/
          margin-left: 10px;
          
      }
  
      .leftPanName{
          font-size:3vh;
         
      }
      .leftPanRole{
          font-size:4vh;
          max-width: vw;
          margin-right: 1rem;
      }
  
      .leftPanBody{
          text-align: justify;
          width:100%;
          max-width: 30vw;
          font-size:-2rem;
          margin-left: 0rem;
      }
      .leftPan{
          margin-left:0px;
          
      }
}