.registrations
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    font-family: oswald;
}
.registrationsHeading
{
    font-size: 10vh;
    align-self: center;
    color: orange;
    margin-bottom: 5%;
}
.registrationsStep
{
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 5%;
    margin-left: 10%;
}

.registrationsImage
{
    align-self: center;
    margin-bottom: 1.5%;
}
/* .img1
{
    transform: translate(50%,50%);
} */