/* .valopic
{
    background-image: url("./valo.png");
    
    
    
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 832.8135375976562px;
    width: 100%;
    
    
    

    
    margin-top: 3em;
    

    
    z-index: -1000;
    
    background-size: contain;
    top: -200px;
    
    
    
}

.valoTextContainer
{
    width: 100vw;
    height: 100vh;
    
    margin-top: 2%;
    opacity: 0;
    transform:scale(90%);
    transition: 1.5s all ease;
    
}

.valoTextContainer--zoom
{
    opacity: 1;
    transform:scale(100%);
}

.frntpg
{
    color: #F3B344;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.maintxt
{
    
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valoText
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: oswald;
    font-size: 7vh;
    opacity: 0.8;
}

.regTypetxt
{

    color: aliceblue;
    position: relative;
    top: 120px;
    font-family: oswald;
    left: -60px;
} */



#button1 {
    background-color: #EFCA43;
    border: none;
    color: b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 2px solid black;
    position: relative; left: 400px;
    font-family: 'Open Sans';
    font-style: normal;
}

#button1:hover {
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#link1 {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    position: relative; right: 400px;
    font-family: 'Open Sans';
    font-style: normal;
    
}

#link1:hover {
    color: #8a8a8a;
}

#link2 {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    position: relative; right: 200px;
    font-family: 'Open Sans';
    font-style: normal;
}			

#link2:hover {
    color: #8a8a8a;
}

#link3 {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    position: relative; left: 200px;
    font-family: Open Sans;
    font-style: normal;
}			

#link3:hover {
    color: #8a8a8a;
}

#link4 {
    position: relative; right: 0px; top: 15px;
}

#valo {
    position: relative; 
    top: 80px;
    width:100%;
    
}

.divos {
    font-family: Oswald;
    text-align: center;
    
    vertical-align: top;
    color: #F3B344;
    position: absolute;
    width: 100%;
    
    top: 50%;
    
    font-size: 80px;
    display: flex;
   
    justify-content: center;
}

.container{
    position: relative;
}

.bigdiv {
    background-image: url("./Assets/home.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative; top:2px;
    /* display: grid;
     grid-template-columns: repeat(1, 1fr);  */
    gap: 10px;
    /* grid-auto-rows: 100px; */
    color: white;
    

}

#icon {
    
    bottom: 100px;
    
}

body {
    background-color: black;
}

input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgba(158, 158, 158, 0.25);
    font-size: 16px;
     /* resize: none;  */
    transition-duration: 0.4s;
     /* resize: none;  */
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: #d9d9d9;
}

.valoTextContainer
{
    width: 100vw;
    height: 100vh;
    
    margin-top: 2%;
    opacity: 0;
    transform:scale(90%);
    transition: 1.5s all ease;
    
}

.valoTextContainer--zoom
{
    opacity: 1;
    transform:scale(100%);
}

input[type='radio']:after {
    
    
    background-color: #d1d3d1;
    
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#playerNum
{

width: 100px;
margin: auto;
height: 216px;
left: 112px;
top: 1473px;

font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 160px;
line-height: 135%;
/* identical to box height, or 216px */
text-align: center;

color: #F3B344;

}

.textBoxes
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 10px;
    gap: 80px;
    justify-content: center
}

#player
{
    display: flex;
    list-style: none;
    justify-content: center;  
    gap: 50px; 

}

#registrationType
{
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 24px;
}

.registrationTypeSection
{
    font-family: 'Oswald';
    
    font-size: 18px;
    position: relative;
    right: -100px;
    /* text-align: center; */
}






@media (screen) {
    
}